In [1]:
import src_lead_reporting as ld
import datascience as ds

In [2]:
lead=ld.lead_reporting_persona()

In [3]:
lead.create_table(start_year=2018)

Success
--------- Leads table created for Other for the year 2018 ---------
Success
--------- Leads table created for Other for the year 2019 ---------
Success
--------- Leads table created for Other for the year 2020 ---------
Success
--------- Leads table created for IT_Executive for the year 2018 ---------
Success
--------- Leads table created for IT_Executive for the year 2019 ---------
Success
--------- Leads table created for IT_Executive for the year 2020 ---------
Success
--------- Leads table created for Architect for the year 2018 ---------
Success
--------- Leads table created for Architect for the year 2019 ---------
Success
--------- Leads table created for Architect for the year 2020 ---------
Success
--------- Leads table created for Lead_Developer for the year 2018 ---------
Success
--------- Leads table created for Lead_Developer for the year 2019 ---------
Success
--------- Leads table created for Lead_Developer for the year 2020 ---------
Success
--------- Leads table created for Blank_Persona for the year 2018 ---------
Success
--------- Leads table created for Blank_Persona for the year 2019 ---------
Success
--------- Leads table created for Blank_Persona for the year 2020 ---------
Success
--------- Leads table created for Business_Analyst for the year 2018 ---------
Success
--------- Leads table created for Business_Analyst for the year 2019 ---------
Success
--------- Leads table created for Business_Analyst for the year 2020 ---------
Success
--------- Leads table created for IT_Manager for the year 2018 ---------
Success
--------- Leads table created for IT_Manager for the year 2019 ---------
Success
--------- Leads table created for IT_Manager for the year 2020 ---------
Success
--------- Leads table created for System_Administrator for the year 2018 ---------
Success
--------- Leads table created for System_Administrator for the year 2019 ---------
Success
--------- Leads table created for System_Administrator for the year 2020 ---------

In [4]:
df=lead.calculations(2018)

--------- Lead Report for Other for the year 2018 ---------
Total number of leads: 16151
Marketing Accepted Leads: 6162
Sales Accepted Leads: 448
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for Other for the year 2019 ---------
Total number of leads: 19999
Marketing Accepted Leads: 10898
Sales Accepted Leads: 569
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for Other for the year 2020 ---------
Total number of leads: 13805
Marketing Accepted Leads: 5354
Sales Accepted Leads: 16
Sales Qualified Leads: 2
Total number of Converted Leads: 3
--------- Lead Report for IT_Executive for the year 2018 ---------
Total number of leads: 8496
Marketing Accepted Leads: 3182
Sales Accepted Leads: 146
Sales Qualified Leads: 0
Total number of Converted Leads: 1
--------- Lead Report for IT_Executive for the year 2019 ---------
Total number of leads: 12196
Marketing Accepted Leads: 7414
Sales Accepted Leads: 259
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for IT_Executive for the year 2020 ---------
Total number of leads: 6006
Marketing Accepted Leads: 2692
Sales Accepted Leads: 7
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for Architect for the year 2018 ---------
Total number of leads: 10400
Marketing Accepted Leads: 5434
Sales Accepted Leads: 200
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for Architect for the year 2019 ---------
Total number of leads: 12129
Marketing Accepted Leads: 7971
Sales Accepted Leads: 321
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for Architect for the year 2020 ---------
Total number of leads: 7030
Marketing Accepted Leads: 3620
Sales Accepted Leads: 17
Sales Qualified Leads: 2
Total number of Converted Leads: 2
--------- Lead Report for Lead_Developer for the year 2018 ---------
Total number of leads: 24628
Marketing Accepted Leads: 12394
Sales Accepted Leads: 518
Sales Qualified Leads: 2
Total number of Converted Leads: 3
--------- Lead Report for Lead_Developer for the year 2019 ---------
Total number of leads: 27666
Marketing Accepted Leads: 17772
Sales Accepted Leads: 712
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for Lead_Developer for the year 2020 ---------
Total number of leads: 16847
Marketing Accepted Leads: 7673
Sales Accepted Leads: 26
Sales Qualified Leads: 5
Total number of Converted Leads: 5
--------- Lead Report for Blank_Persona for the year 2018 ---------
Total number of leads: 64593
Marketing Accepted Leads: 13420
Sales Accepted Leads: 1774
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for Blank_Persona for the year 2019 ---------
Total number of leads: 85294
Marketing Accepted Leads: 29659
Sales Accepted Leads: 1325
Sales Qualified Leads: 5
Total number of Converted Leads: 7
--------- Lead Report for Blank_Persona for the year 2020 ---------
Total number of leads: 41622
Marketing Accepted Leads: 10847
Sales Accepted Leads: 16
Sales Qualified Leads: 9
Total number of Converted Leads: 10
--------- Lead Report for Business_Analyst for the year 2018 ---------
Total number of leads: 10279
Marketing Accepted Leads: 4205
Sales Accepted Leads: 370
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for Business_Analyst for the year 2019 ---------
Total number of leads: 12295
Marketing Accepted Leads: 6277
Sales Accepted Leads: 277
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for Business_Analyst for the year 2020 ---------
Total number of leads: 7468
Marketing Accepted Leads: 2894
Sales Accepted Leads: 28
Sales Qualified Leads: 3
Total number of Converted Leads: 3
--------- Lead Report for IT_Manager for the year 2018 ---------
Total number of leads: 21980
Marketing Accepted Leads: 9538
Sales Accepted Leads: 562
Sales Qualified Leads: 4
Total number of Converted Leads: 5
--------- Lead Report for IT_Manager for the year 2019 ---------
Total number of leads: 27123
Marketing Accepted Leads: 16476
Sales Accepted Leads: 894
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for IT_Manager for the year 2020 ---------
Total number of leads: 15807
Marketing Accepted Leads: 8875
Sales Accepted Leads: 17
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for System_Administrator for the year 2018 ---------
Total number of leads: 9026
Marketing Accepted Leads: 4660
Sales Accepted Leads: 390
Sales Qualified Leads: 0
Total number of Converted Leads: 0
--------- Lead Report for System_Administrator for the year 2019 ---------
Total number of leads: 11949
Marketing Accepted Leads: 7362
Sales Accepted Leads: 347
Sales Qualified Leads: 1
Total number of Converted Leads: 1
--------- Lead Report for System_Administrator for the year 2020 ---------
Total number of leads: 7938
Marketing Accepted Leads: 3257
Sales Accepted Leads: 40
Sales Qualified Leads: 6
Total number of Converted Leads: 6

In [5]:
df

    leads               Persona  Year               Stage
0   16151                 Other  2018         Total Leads
0    6162                 Other  2018  Marketing Accepted
0     448                 Other  2018      Sales Accepted
0       0                 Other  2018     Sales Qualified
0       0                 Other  2018     Converted Leads
0   19999                 Other  2019         Total Leads
0   10898                 Other  2019  Marketing Accepted
0     569                 Other  2019      Sales Accepted
0       1                 Other  2019     Sales Qualified
0       1                 Other  2019     Converted Leads
0   13805                 Other  2020         Total Leads
0    5354                 Other  2020  Marketing Accepted
0      16                 Other  2020      Sales Accepted
0       2                 Other  2020     Sales Qualified
0       3                 Other  2020     Converted Leads
0    8496          IT_Executive  2018         Total Leads
0    3182          IT_Executive  2018  Marketing Accepted
0     146          IT_Executive  2018      Sales Accepted
0       0          IT_Executive  2018     Sales Qualified
0       1          IT_Executive  2018     Converted Leads
0   12196          IT_Executive  2019         Total Leads
0    7414          IT_Executive  2019  Marketing Accepted
0     259          IT_Executive  2019      Sales Accepted
0       0          IT_Executive  2019     Sales Qualified
0       0          IT_Executive  2019     Converted Leads
0    6006          IT_Executive  2020         Total Leads
0    2692          IT_Executive  2020  Marketing Accepted
0       7          IT_Executive  2020      Sales Accepted
0       1          IT_Executive  2020     Sales Qualified
0       1          IT_Executive  2020     Converted Leads
..    ...                   ...   ...                 ...
0   21980            IT_Manager  2018         Total Leads
0    9538            IT_Manager  2018  Marketing Accepted
0     562            IT_Manager  2018      Sales Accepted
0       4            IT_Manager  2018     Sales Qualified
0       5            IT_Manager  2018     Converted Leads
0   27123            IT_Manager  2019         Total Leads
0   16476            IT_Manager  2019  Marketing Accepted
0     894            IT_Manager  2019      Sales Accepted
0       1            IT_Manager  2019     Sales Qualified
0       1            IT_Manager  2019     Converted Leads
0   15807            IT_Manager  2020         Total Leads
0    8875            IT_Manager  2020  Marketing Accepted
0      17            IT_Manager  2020      Sales Accepted
0       1            IT_Manager  2020     Sales Qualified
0       1            IT_Manager  2020     Converted Leads
0    9026  System_Administrator  2018         Total Leads
0    4660  System_Administrator  2018  Marketing Accepted
0     390  System_Administrator  2018      Sales Accepted
0       0  System_Administrator  2018     Sales Qualified
0       0  System_Administrator  2018     Converted Leads
0   11949  System_Administrator  2019         Total Leads
0    7362  System_Administrator  2019  Marketing Accepted
0     347  System_Administrator  2019      Sales Accepted
0       1  System_Administrator  2019     Sales Qualified
0       1  System_Administrator  2019     Converted Leads
0    7938  System_Administrator  2020         Total Leads
0    3257  System_Administrator  2020  Marketing Accepted
0      40  System_Administrator  2020      Sales Accepted
0       6  System_Administrator  2020     Sales Qualified
0       6  System_Administrator  2020     Converted Leads

[120 rows x 4 columns]

In [6]:
df.to_redshift('python_lead_analysis','na_field_marketing', if_exists='replace')

Full S3 url: rhdatasci/ops/python_lead_analysis.gzip
bucket where dataframe is to be copied: rhdatasci
keypath of file to be copied:ops/python_lead_analysis.gzip
Writing to disk...
Creating table na_field_marketing.python_lead_analysis
Querying Redshift...
drop table na_field_marketing.python_lead_analysis;

CREATE TABLE na_field_marketing.python_lead_analysis (
	leads BIGINT,
	"Persona" TEXT,
	"Year" BIGINT,
	"Stage" TEXT
)

;
grant SELECT on na_field_marketing.python_lead_analysis
to group na_field_marketing_ro; commit;grant SELECT on na_field_marketing.python_lead_analysis
to group na_field_marketing_rw; commit;
bucket where file is to be removed: rhdatasci
keypath of file to be removed:ops/python_lead_analysis.gzip

### Creating other live dataset in rs

#### Step 1:

In [ ]:
query = '''

drop table na_field_marketing.temp_nafm_leads;
create table na_field_marketing.temp_nafm_leads as (  -- 493,680 rows
select   distinct lead_id , lead_date_created, l.converted_date,l.is_converted, p."eloqua persona", l.converted_opportunity_id, o.opportunity_forecast_category, o.opportunity_stage_name, o.opportunity_amount
from na_field_marketing.src_leads_global_sfdc l
join 
(
select distinct "lead contact id", p."eloqua persona"
from na_field_marketing.prod_nafm_mt p
where  "email (person)" != '%ibm%' 
) p
on left(l.lead_id,15) = "lead contact id"
left join na_field_marketing.src_opprtnty_sfdc o on l.converted_opportunity_id = o.opportunity_id
where lead_date_created >= '2018-01-01' 
);


'''

ds.query_RS(query, instance='DS', option='execute')

#### Step 2:

In [ ]:
query = '''

drop table na_field_marketing.temp_nafm_lmh;
create table na_field_marketing.temp_nafm_lmh as (
select  l.lead_stage_from,l.lead_stage_to ,t.*
from na_field_marketing.src_lmh_sfdc l
join na_field_marketing.temp_nafm_leads t
on l.lead_id = t.lead_id
);

'''

ds.query_RS(query, instance='DS', option='execute')